In [27]:
import numpy as np
import pandas as pd
import tushare as ts

In [46]:
df1=pd.read_excel("../000300closeweight.xlsx")
df1=df1.loc[:19,:]
df1.head()

,日期Date,指数代码 Index Code,指数名称 Index Name,指数英文名称Index Name(Eng),成份券代码Constituent Code,成份券名称Constituent Name,成份券英文名称Constituent Name(Eng),交易所Exchange,交易所英文名称Exchange(Eng),权重(%)weight
0,20241129,300,沪深300,CSI 300,600519,贵州茅台,Kweichow Moutai Co Ltd,上海证券交易所,Shanghai Stock Exchange,4.767
1,20241129,300,沪深300,CSI 300,300750,宁德时代,"Contemporary Amperex Technology Co., Limited.",深圳证券交易所,Shenzhen Stock Exchange,3.430
2,20241129,300,沪深300,CSI 300,601318,中国平安,Ping An Insurance (Group) Company of China Ltd,上海证券交易所,Shanghai Stock Exchange,2.851
3,20241129,300,沪深300,CSI 300,600036,招商银行,China Merchants Bank Co Ltd,上海证券交易所,Shanghai Stock Exchange,2.238
4,20241129,300,沪深300,CSI 300,300059,东方财富,East Money Information Co Ltd,深圳证券交易所,Shenzhen Stock Exchange,1.713

In [49]:
df1["地区"]=df1["交易所Exchange"].map({
    "上海证券交易所":'SH',
    "深圳证券交易所":'SZ'
})
df1.head()

,日期Date,指数代码 Index Code,指数名称 Index Name,指数英文名称Index Name(Eng),成份券代码Constituent Code,成份券名称Constituent Name,成份券英文名称Constituent Name(Eng),交易所Exchange,交易所英文名称Exchange(Eng),权重(%)weight,地区
0,20241129,300,沪深300,CSI 300,600519,贵州茅台,Kweichow Moutai Co Ltd,上海证券交易所,Shanghai Stock Exchange,4.767,SH
1,20241129,300,沪深300,CSI 300,300750,宁德时代,"Contemporary Amperex Technology Co., Limited.",深圳证券交易所,Shenzhen Stock Exchange,3.430,SZ
2,20241129,300,沪深300,CSI 300,601318,中国平安,Ping An Insurance (Group) Company of China Ltd,上海证券交易所,Shanghai Stock Exchange,2.851,SH
3,20241129,300,沪深300,CSI 300,600036,招商银行,China Merchants Bank Co Ltd,上海证券交易所,Shanghai Stock Exchange,2.238,SH
4,20241129,300,沪深300,CSI 300,300059,东方财富,East Money Information Co Ltd,深圳证券交易所,Shenzhen Stock Exchange,1.713,SZ

In [51]:
df1["ts_code"]=df1.apply(lambda x:str(x["成份券代码Constituent Code"])+"."+x["地区"],axis=1)

In [52]:
df1.head()

,日期Date,指数代码 Index Code,指数名称 Index Name,指数英文名称Index Name(Eng),成份券代码Constituent Code,成份券名称Constituent Name,成份券英文名称Constituent Name(Eng),交易所Exchange,交易所英文名称Exchange(Eng),权重(%)weight,地区,ts_code
0,20241129,300,沪深300,CSI 300,600519,贵州茅台,Kweichow Moutai Co Ltd,上海证券交易所,Shanghai Stock Exchange,4.767,SH,600519.SH
1,20241129,300,沪深300,CSI 300,300750,宁德时代,"Contemporary Amperex Technology Co., Limited.",深圳证券交易所,Shenzhen Stock Exchange,3.430,SZ,300750.SZ
2,20241129,300,沪深300,CSI 300,601318,中国平安,Ping An Insurance (Group) Company of China Ltd,上海证券交易所,Shanghai Stock Exchange,2.851,SH,601318.SH
3,20241129,300,沪深300,CSI 300,600036,招商银行,China Merchants Bank Co Ltd,上海证券交易所,Shanghai Stock Exchange,2.238,SH,600036.SH
4,20241129,300,沪深300,CSI 300,300059,东方财富,East Money Information Co Ltd,深圳证券交易所,Shenzhen Stock Exchange,1.713,SZ,300059.SZ

In [54]:
ts_code_top_20=df1["ts_code"].tolist()
ts_code_top_20

['600519.SH',
 '300750.SZ',
 '601318.SH',
 '600036.SH',
 '300059.SZ',
 '333.SZ',
 '600900.SH',
 '600030.SH',
 '858.SZ',
 '601166.SH',
 '601899.SH',
 '2594.SZ',
 '600276.SH',
 '601398.SH',
 '601328.SH',
 '2475.SZ',
 '651.SZ',
 '600887.SH',
 '688981.SH',
 '725.SZ']

In [55]:
ts.set_token('35f337e592e9520154d2a0827c491f75ccc87b723d2bec02cea6b78b')
pro = ts.pro_api()
cols=['ts_code','trade_date','open','high','low','close','pre_close','change','pct_chg','vol','amount']
df_all=pd.DataFrame(columns=cols)
df_all.head()

Empty DataFrame
Columns: [ts_code, trade_date, open, high, low, close, pre_close, change, pct_chg, vol, amount]
Index: []

In [ ]:
for cd in ts_code_top_20:
    df_i = pro.daily(ts_code=cd, start_date='20240913', end_date='20241211')
    df_all=pd.concat([df_all, df_i])
    df_i.to_excel("../ts_top_20_20240913_20241211.xlsx",sheet_name=cd)

In [40]:
df = pro.daily(ts_code='600519.SH', start_date='20180701', end_date='20180718')

In [41]:
df.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,600519.SH,20180718,742.43,749.69,735.00,737.44,742.43,-4.99,-0.67,24521.71,1818760.392
1,600519.SH,20180717,757.00,757.00,736.02,742.43,754.68,-12.25,-1.62,27806.03,2064190.615
2,600519.SH,20180716,752.30,764.11,751.03,754.68,746.99,7.69,1.03,32474.87,2454501.604
3,600519.SH,20180713,742.30,748.10,735.12,746.99,737.54,9.45,1.28,28907.04,2152944.602
4,600519.SH,20180712,718.00,741.17,718.00,737.54,719.58,17.96,2.50,40170.04,2947129.140